@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #144196;
  --secondary: #54595F;
  --text: #7A7A7A;
  --accent: #06283D;
}

@font-face {
  font-family: Ubuntu;
  src: url("../public/font/Ubuntu-Regular.ttf");
}

@font-face {
  font-family: Ubuntu-bold;
  src: url("../public//font/Ubuntu-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: Ubuntu-light;
  src: url("../public//font/Ubuntu-Light.ttf");
  font-weight: lighter;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

body {
  font-family: Ubuntu;
  font-size: 14px;
  margin: 0;
  padding: 0;
  color: var(--text);
}

h1 {
  font-size: 2.6rem;
  font-weight: 600;
  color: var(--primary)
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--secondary)
}

html,
body {
  position: relative;
  height: 100%;
}

.slider-title {
  position: relative;
  animation: heading 1.5s ease-in;
  text-transform: uppercase;
}

@keyframes heading {
  0% {
    left: -100%;
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    left: 0;
    opacity: 1;
  }
}

.slider-description {
  position: relative;
  animation: description 1.5s ease-in;
}

@keyframes description {
  0% {
    right: -100%;
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    right: 0;
    opacity: 1;
  }
}

.slider-content-bg {
  animation: content 1s ease-in-out;
}

@keyframes content {
  0% {
    bottom: 100px;
    opacity: 0;
  }

  100% {
    bottom: 0;
    opacity: 1;
  }
}

.swiper-button-prev,
.swiper-button-next {
  padding: 1.9rem;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: black;
  transition-duration: .5s;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  padding: 7px;
}

.page-layout {
  @apply mx-6 xl:mx-[250px];
}

/* Scroll Bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #144196;
}

::-webkit-scrollbar-thumb:hover {
  background: #06283D;
}

/* Navbar Dropdown Hover */
/* li>ul {
  transform: translatex(100%) scale(0)
}

li:hover>ul {
  transform: translatex(101%) scale(1)
} */

/* .group:hover .group-hover\:scale-100 { transform: scale(1) } */
/* .scale-0 { transform: scale(0) } */